
/*Nav Bar*/

.divider {
	height: 50px;
	width: 1px;
	top: 5px;
	border: 1px solid black;
	border-color: rgba(39, 43, 90, 0.32)
}

.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
	width: 80%;
	max-width: 800px
}

#navLinks {
	padding-right: 20px
}

nav a:target {
    -webkit-transition-duration: 4s;
    -webkit-transition-timing-function: linear;
    transition-duration: 4s;
    transition-timing-function: linear;
}

.navbar	{
	-webkit-border-bottom-right-radius: 40px 20px;
	-webkit-border-bottom-left-radius: 40px 20px;
	-moz-border-radius-bottomright: 40px 20px;
	-moz-border-radius-bottomleft: 40px 20px;
	border-bottom-right-radius: 40px 20px;
	border-bottom-left-radius: 40px 20px;
	background-clip: padding-box;  
	-moz-background-clip: padding;  
	-webkit-background-clip: padding;
	overflow: hidden;

}

nav .container-fluid {
	background-color: rgba(100, 200, 300, .2);
}

.navbar-default .navbar-nav > li > a {
	color: black;
	font-weight: 500;
}

.navbar-default .navbar-brand {
	color: black;
	font-weight: 700
}



/*First Page*/

#page1 {
	background-color: #ffe650;
	height: 100%;
	width: 100%;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}

#content1 {
	text-align: center;
	padding:30px;
}

#content1 h1 {
	font-size: 80px;
	text-shadow: 2px 2px 2px black; 
}

#content1 h2 {
	font-size: 50px;
	text-shadow: 1px 1px black; 
	padding-bottom: 30px
}

/*Second Page*/

#page2 {
	background-color: #72baea;
	height: 100%;
	width: 100%;
	margin-top: -20px;
	font-family: 'Ubuntu', sans-serif;

}

#page2 h1 {
	padding: 40px 70px 50px 70px;
	text-align: center;
	text-shadow:1px 1px white;
	font-size: 60px
}

#page2 h3 {
	padding: 50px 150px 50px 150px;
	text-align: center;
/*	text-shadow:0px 1px white;*/
	font-weight: 400;
	text-transform: uppercase;
	position: relative;
	max-width: 900px;
	margin: auto
}

#page2 p {
	padding: 0px 50px;
	text-align: center;
	font-size: 17px;
	font-weight: 500;
	max-width: 800px;
	margin:auto;
}


/*Third Page*/

#page3 {
	background-color: #e1d1c8;
	position: relative;
	height: 100%;
	width: 100%;
	margin-top:-20px;
	font-family: 'Ubuntu', sans-serif;
}

#page3 h1 {
	text-shadow:1px 1px white;
	font-size: 60px;
	text-align: center;
	padding-top: 40px
}

.hiwHead {
	text-align: center;
	font-size: 40px;
	text-shadow: 1px 1px yellow;
/*	font-weight: 500
*/}

.hiwContent {
	text-align: center;
	padding: 20px 70px 20px 70px;
	font-size: 20px;
}

.hiwButton {
	text-align: center;
	padding-bottom: 20px
}

#doubleColumn {
 	columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;

}


/*Fourth Page*/

#page4 {

	background-color: #30ba8f;
	height:100%;
	width: 100%;
	position: relative;
	font-family: 'Ubuntu', sans-serif;
}

#pricingHead {
	text-align: center;
	font-size: 60px;
	padding-top: 25px;	
	text-shadow: 1px 1px white; 
	font-weight: 700

}

#pricing {
	text-align: center;
}

#pricing span {
	font-size: 50px;
	color: #ff0c3e;
	font-weight: 700
}

#well1 {
	padding: 30px 140px;
	height: 38%;
	max-width: 1200px
}

#pricingWell {
	height: 240px;
}

#pricingWell-left {
  padding: 9px;
  margin-top: 4px;
  border-radius: 5px;
  background-color: #b7b7b7;

}

#pricingWell-right {
  padding: 9px 9px 15px 9px;
  margin-top: 4px;
  border-radius: 5px;
  background-color: #b7b7b7;
  font-weight: 700
}

#well2 {
	padding: 0px 140px 30px 140px;
	height: 30%;
	max-width: 1200px
}

/*Fifth Page*/

#page5{
	position: relative;
	background-color: #fffadb;
	height: 100%;
	width: 100%;
	padding:60px 50px;
	font-family: 'Ubuntu', sans-serif;
}

label {
	color: black;
	font-size: 20px
}

legend {
	font-size: 40px;
	text-shadow: 1px 1px yellow;
}

form input {
	color: black;
	font-weight: 900
}


/*Footer*/
footer {
	text-align: center;
	width: 100%;
	height: 100px;
	background-color: #666666;
	position: relative;
}

.social-icon {
	height: 50px;
	width: 50px;
	margin-top: 10px;

}

footer p {
	font-weight: 900;
	height: 30px;
	width: 100%;
	

}


/*Colors*/

.green {
	color: #FF550D
}


/*Other*/

.myWell {
	border: 2px solid #66a7d2;
	padding-top: 20px;
	height: 100%;
	width: 
}

/*College Pages*/

.collegeBackground {
	background-color: #ffe650;
	height: 100%;
	width: 100%;
	color: white;
	font-family: 'Ubuntu', sans-serif;
}

.collegeName h1{
	font-size: 60px;
	text-shadow: 2px 2px 2px black; 
	text-align: center;
	padding: 30px 0px 60px 0px;
}


.insiderPhoto {
	height: 400px;
	width: 400px;
}

.insiderParagraph {
	color: black;
	height: 800px;
}

.insiderContent {
	height: 100%;
}








