/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { }



/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 767px) {
	#page2 h3 {
		padding-left: 50px;
		padding-right: 50px
	}

	#page3 .container {
		width: 100%
	}

	#about2 {
		padding: 30px 25px 0 25px;
	}

	#about3 {
		padding: 15px 25px 30px 25px;
	}

	#about4 {
		margin: 0px;
		padding: 0px 10px;
	}

	.learn {
		margin-right: 5px
	}

	#about1 {
		padding:0px 30px;
	}


	#content1 h1 {
		font-size: 50px;
	}
	#content1 h2 {
		font-size: 25px;
	}

	#well1, #well2 {
		padding-left: 20px;
		padding-right: 20px;
		height: 60%
	}

	#page4 {
		position: relative;
	}
	#pricingWell {
		height: 420px
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
	
	#page2 h3 {
		padding-left: 50px;
		padding-right: 50px
	}

	#about2 {
	padding: 30px 15px 0 15px;

	}

	#about3 {
		padding: 15px 15px 30px 15px;
	}

	#about4 {
		margin: 0px;
		padding: 0px 25px;
	}
	#well1, #well2 {
		padding-left: 70px;
		padding-right: 70px;
	}

	#page4 {
		position: relative;
	}

	#pricingWell {
		height: 240px
	}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 992px) {}
